.home-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;

  .create-button {
    align-self: flex-end;
  }

  .candidates-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .table-paginator {
      width: 100%;
    }
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
}
