.candidate-container {
    padding: 1.5rem;
    .card-title {
      padding: 0.5rem 1rem;
    }
    
    .card-view-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .data-container {
        .label {
          font-weight: 700;
        }
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
}

