.create-candidate-container {
  margin: 1.5rem;

  .card-title {
    padding: 0.5rem 1rem;
  }
  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    padding: 1rem;
    display: flex;
    justify-content: end;
  }

  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}
