/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.data-content {
  .label {
    font-weight: 700;
  }
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

//** Snack bar custom styles **//
.mat-mdc-snack-bar-container.success {
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.error {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}

//** Progress spinner custom styles **//
/*
Source - https://stackoverflow.com/a/48887908
Posted by toongeorges, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-16, License - CC BY-SA 4.0
*/

.transparent .mat-mdc-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  --mdc-dialog-container-color: rgba(0, 0, 0, 0);
}

.transparent .mat-mdc-dialog-surface {
  box-shadow: none !important;
}
